body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.first-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.first-container {
  background-image: url('./assets/wall1.jpeg'); /* Add the first screen's background image here */
  background-size: cover;
  background-position: center;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

h1, h2 {
  font-size: 4em;
  margin-bottom: 20px;
  opacity: 1;
}

p {
  font-size: 3em;
  opacity: 1;
}

button {
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #87CEFA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

 .button2 {                                                                                              
   padding: 10px 20px;                                                                                 
    font-size: 1.5em;                                                                                   
    background-color: #87CEFA;                                                                          
    border: none;                                                                                       
    border-radius: 5px;                                                                                 
    cursor: pointer;                                                                                    
    margin: 10px;
    color: black;
  }
